In [1]:
import numpy as np
import pandas as pd
from IPython.display import display

### 1. ageGroup(1-9),sex(1,2),height,weight,BMI,bodyFat으로 구성된 파일(physicalFitness.csv)를 읽고 데이터프레임 만들기

In [2]:
data=pd.read_csv('./physicalFitness.csv')
pd.DataFrame(data)

      ageGroup  sex  height  weight   BMI  bodyFat
0            1    1   158.0    45.0  18.0      8.1
1            1    1   158.1    53.4  21.4      7.0
2            1    1   160.0    58.0  22.7      8.3
3            1    1   160.0    66.0  25.8     18.6
4            1    1   161.0    76.0  29.3     21.3
...        ...  ...     ...     ...   ...      ...
4029         9    2   162.0    64.0  24.4     27.0
4030         9    2   163.5    56.6  21.2     20.8
4031         9    2   164.4    68.1  25.2     35.8
4032         9    2   164.6    61.7  22.8     26.6
4033         9    2   167.0    66.0  23.7     28.1

[4034 rows x 6 columns]

### 2.  (1)의 데이터 셋에 대한 데이터 타입들, 요약통계, 상,하위 5개 데이터 확인, 행 레이블, 열레이블 , 크기 확인

In [3]:
print("Data Type =\n{}\n".format(data.dtypes))
print("통계요약 =\n{}\n".format(data.describe()))
print("상위 5개 데이터 =\n",data.head(5))
print("\n하위 5개 데이터 = \n",data.tail(5))
print("\nRow Labels = ",data.index)
print("\nColumns Lables = ",data.columns)
print("\nData Size = ",data.size)

Data Type =
ageGroup      int64
sex           int64
height      float64
weight      float64
BMI         float64
bodyFat     float64
dtype: object

통계요약 =
          ageGroup          sex       height       weight          BMI  \
count  4034.000000  4034.000000  4034.000000  4034.000000  4034.000000
mean      4.351264     1.394646   167.695563    66.459569    23.529797
std       2.484330     0.488835     8.857008    11.570712     3.003301
min       1.000000     1.000000   131.600000    37.500000    14.900000
25%       2.000000     1.000000   161.000000    57.600000    21.500000
50%       4.000000     1.000000   168.150000    66.100000    23.300000
75%       6.000000     2.000000   174.200000    74.200000    25.300000
max       9.000000     2.000000   194.700000   122.500000    38.900000

           bodyFat
count  4034.000000
mean     20.341373
std       6.693839
min       3.900000
25%      15.800000
50%      20.100000
75%      24.700000
max      45.600000

상위 5개 데이터 =
    ageGroup  sex  height  weight   BMI  bodyFat
0         1    1   158.0    45.0  18.0      8.1
1         1    1   158.1    53.4  21.4      7.0
2         1    1   160.0    58.0  22.7      8.3
3         1    1   160.0    66.0  25.8     18.6
4         1    1   161.0    76.0  29.3     21.3

하위 5개 데이터 =
       ageGroup  sex  height  weight   BMI  bodyFat
4029         9    2   162.0    64.0  24.4     27.0
4030         9    2   163.5    56.6  21.2     20.8
4031         9    2   164.4    68.1  25.2     35.8
4032         9    2   164.6    61.7  22.8     26.6
4033         9    2   167.0    66.0  23.7     28.1

Row Labels =  RangeIndex(start=0, stop=4034, step=1)

Columns Lables =  Index(['ageGroup', 'sex', 'height', 'weight', 'BMI', 'bodyFat'], dtype='object')

Data Size =  24204

### 3. 키가 큰 순으로 정렬

In [4]:
data.sort_values(by='height', ascending=False)

      ageGroup  sex  height  weight   BMI  bodyFat
1009         2    1   194.7    97.7  25.8     17.9
1010         2    1   194.7    97.7  25.8     20.7
1480         3    1   193.1    87.7  23.5     20.7
1479         3    1   192.7    91.7  24.7     19.2
1982         4    1   192.5    75.1  20.3     26.1
...        ...  ...     ...     ...   ...      ...
3947         9    2   145.0    48.5  23.1     21.6
3946         9    2   143.0    54.6  26.7     30.8
3678         8    2   140.0    43.3  22.1     15.7
3945         9    2   134.0    41.0  22.8     20.3
2904         6    2   131.6    39.4  22.8     31.9

[4034 rows x 6 columns]

### 4.  BMI 30이상인 비만자만 ageGroup,height,weight,BMI,bodyFat을 추출하여 파일(obese.csv)로 저장

In [5]:
bmi=data['BMI']>=30
obese=data[bmi].loc[:,['ageGroup','height', 'weight', 'BMI', 'bodyFat']]
obese.to_csv('./obese.csv')

### 5.  (4)에서 추출된 데이터셋에서 나이그룹 속성으로 그룹을 분리

In [6]:
grouped=obese.groupby('ageGroup')

### 6. (5)그룹에 대한 요약 통계

In [7]:
grouped.describe()

         height                                                          \
          count        mean        std    min      25%     50%      75%
ageGroup
1          15.0  173.520000   5.612512  161.0  170.200  173.90  177.100
2          10.0  176.150000   9.441898  162.9  168.425  175.60  183.525
3          26.0  165.950000  10.123132  151.6  157.875  167.30  173.750
4          15.0  169.200000   7.406561  156.5  164.650  170.50  174.300
5           7.0  167.985714   5.477965  163.8  164.200  166.00  170.400
6           6.0  169.750000   5.514980  163.8  165.950  168.10  173.925
7          12.0  165.716667   6.309853  155.0  161.700  168.00  170.800
8           8.0  160.262500   7.596228  150.8  155.375  158.75  164.225
9           5.0  156.240000   6.889702  150.4  152.600  154.20  156.000

                weight              ...     BMI       bodyFat             \
            max  count        mean  ...     75%   max   count       mean
ageGroup                            ...
1         182.2   15.0   96.013333  ...  32.250  36.9    15.0  25.973333
2         189.5   10.0  100.740000  ...  33.350  34.3    10.0  28.780000
3         184.7   26.0   89.419231  ...  32.400  38.9    26.0  22.353846
4         180.0   15.0   90.866667  ...  32.550  34.6    15.0  25.673333
5         176.9    7.0   88.571429  ...  32.700  32.8     7.0  24.285714
6         177.4    6.0   90.100000  ...  31.525  32.4     6.0  23.333333
7         172.0   12.0   87.725000  ...  32.825  35.1    12.0  28.083333
8         173.6    8.0   83.300000  ...  33.950  35.7     8.0  29.887500
9         168.0    5.0   76.560000  ...  32.000  32.6     5.0  37.320000


               std   min     25%    50%     75%   max
ageGroup
1         5.112515  18.4  22.350  24.70  29.700  37.3
2         5.169741  20.4  26.225  28.75  31.025  37.1
3         5.287512  11.3  18.075  22.30  25.800  33.0
4         8.056361  16.9  19.900  23.30  27.400  45.0
5         8.873449  15.3  17.250  25.10  27.250  40.6
6         6.296242  17.6  19.100  21.30  25.600  34.4
7         5.858612  19.4  25.050  26.15  30.525  40.9
8         8.725568  20.9  21.375  28.40  38.325  40.8
9         4.973630  31.9  32.500  38.80  40.000  43.4

[9 rows x 32 columns]

### 7. 남녀 각각 20명씩 추출하여 하나의 데이터 프레임으로 결합 , 요약통계확인

In [8]:
dt=data.sample(n=20)
display(dt)
dt.describe()

      ageGroup  sex  height  weight   BMI  bodyFat
1471         3    1   185.0    84.2  24.6     17.5
3900         9    1   168.5    72.1  25.4     26.4
2779         6    1   172.0    60.0  20.3     15.9
155          1    1   172.0    68.9  23.3     12.7
1217         3    1   170.0    76.0  26.3     16.9
771          2    1   169.0    68.5  24.0     12.3
1239         3    1   171.0    78.0  26.7     22.2
3850         9    1   160.0    57.4  22.4     17.3
3642         8    1   173.5    65.0  21.6     15.8
2378         5    1   178.6    79.5  24.9     21.2
3589         8    1   170.0    60.0  20.8     19.8
855          2    1   173.7    78.9  26.2     25.3
1965         4    1   183.0    80.8  24.1     22.7
2420         5    2   148.5    58.3  26.4     30.7
1225         3    1   170.2    65.6  22.6      7.5
2762         6    1   171.0    65.5  22.4     17.8
3034         6    2   162.6    60.5  22.9     21.2
872          2    1   174.9    83.1  27.2     20.4
3518         8    1   164.0    63.4  23.6     14.4
3329         7    2   150.0    54.2  24.1     34.5

        ageGroup        sex      height     weight        BMI    bodyFat
count  20.000000  20.000000   20.000000  20.000000  20.000000  20.000000
mean    5.000000   1.150000  169.375000  68.995000  23.990000  19.625000
std     2.575185   0.366348    9.108693   9.433227   1.989419   6.361138
min     1.000000   1.000000  148.500000  54.200000  20.300000   7.500000
25%     3.000000   1.000000  167.375000  60.375000  22.550000  15.875000
50%     5.000000   1.000000  170.600000  67.050000  24.050000  18.800000
75%     7.250000   1.000000  173.550000  78.225000  25.600000  22.325000
max     9.000000   2.000000  185.000000  84.200000  27.200000  34.500000